.modal-overlay-extra {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.11);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.modal-content-extra {
    background: white;
    border-radius: 8px;
    position: relative;
    width: 68%;
    height: 90%;
    overflow-y: auto;
}


.extras-modal-content {
    margin: 70px 50px 0 50px;
}

.extras-header {
    width: 100%;

    button {
        color: #58AFEE;
        border: none;
        background-color: transparent;
        font-size: 1rem;
        font-weight: 600;
    }

    p {
        font-size: 1.2rem;
        color: #234861;
        margin-top: 10px;
    }

    img {
        width: 100%;
    }
}

.extras-header .btn-skip {
    justify-self: end;

}

.separador {
    border-bottom: 2px solid #ddd;
    padding-bottom: 15px;
    width: 100%;
}

.extras-container {
    margin-top: 40px;
    display: flex;
    gap: 40px;
    width: 100%;

    .img {
        width: 70%;
    }

    .text-content {
        width: 100%;
    }

    .cutlerys {
        width: 100%;
    }
}

.text-content {
    color: #234861;

    ul li {
        list-style: none;
        padding: 4px;
    }

    h2 {
        margin-bottom: 15px
    }

    .list-drinks {
        margin-bottom: 15px;
    }

    .list-licence {
        font-size: 12px;
    }
}

.cutlerys {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.extra-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ddd;
    padding: 10px 0;

    .option .add-btn {
        color: #234861;
        font-size: 14px;
    }

    p {
        margin: 10px 0 30px 0;
    }
}

.extra-item:last-child {
    border-bottom: none;
}

.add-btn {
    display: flex;
    align-items: center;

    .number-notes {
        font-size: 12px;
        margin: 0 0 0 5px;
        background-color: #0073e6;
        color: #fff;
    }
}

.extra-details {
    flex: 1;
}


.option {
    margin-top: 20px;

    .add-btn {
        color: #234861;
        font-size: 14px;
    }
}

.extras-header .extras-container .container-pay {
    position: absolute;
    right: 0;
    margin-right: 30px;
    align-self: flex-end;
    text-align: right;
    margin-bottom: 5px;

    p {
        margin: 5px 0 5px 0;
        font-size: 1.3rem;
        font-weight: 600;
    }

    span {
        font-size: 12px;
        color: #aaa9a9;
        font-weight: bold;
    }

}



.quantity-selector {
    border-radius: 5px;
    border: 2px solid #ddd;
    display: flex;
    width: 100px;

    button {
        display: flex;
        flex-direction: row;
        width: 35px;
        height: 30px;
        background: #fff;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        color: #0073e6;
        font-size: 1.3rem;
        font-weight: 600;
        border: 2px solid #ddd;
        border-left: none;
        border-top: none;
        border-bottom: none;

    }

    .btn-more {
        border-bottom: 1px solid #ddd;
    }

    .btn-less {
        border-top: 1px solid #ddd;
    }


    input {
        width: 61px;
        text-align: center;
        border: none;
        font-size: 1.3rem;
        font-weight: 600;
        color: #234861;
        background: #f0f0f0;
    }
}



.footer-info {
    margin-top: 50px;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: 2px solid #ddd;
    background-color: #fff;

    .cont-btn {
        display: flex;
        margin-right: 20px;
        background-color: #EFEFF0;
        padding: 0 3px 0 20px;
        border-radius: 50px;

        p {
            align-self: center;
            font-size: 1.2rem;
            font-weight: bold;
            margin-right: 20px;
        }

        img {
            width: 24px;
            height: 24px;
            align-self: center;
        }

        .btn-cart {
            padding: 10px 15px 10px 15px;
            font-size: 1rem;
            font-weight: 600;
            color: #fff;
            background: #58AFEE;
            height: 50px;
            border-radius: 50px;
            border: none;
            cursor: pointer;
        }

        .cart-number {
            position: relative;
            top: 5px;
            right: 10px;
            background-color: #58AFEE;
            color: white;
            font-size: 12px;
            font-weight: bold;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    }

    .btn-skip {
        color: #58AFEE;
        border: none;
        background-color: transparent;
        font-size: 1rem;
        font-weight: 600;
        margin-right: 30px;

    }

}

@media (max-width: 1440px) {
    .modal-content-extra{
        width:80%;
    }
}
@media (max-width: 1024px) {

    .extras-modal-content {
        margin: 70px 30px 0 30px;
    }

}
@media (max-width: 768px) {
    .modal-content-extra{
        width: 90%;
    }
}
@media (max-width: 480px) {
    .modal-content-extra{
        width: 100%;
        height: 100%;
    }
}

